MM_orarend.dtd

<!DOCTYPE note
[
<!ELEMENT orarend (ora,targy,idopont,helyszin,oktato,szak)>
<!ELEMENT ora (#PCDATA)>
<!ELEMENT targy (#PCDATA)>
<!ELEMENT idopont (nap,tol,ig)>
	<!ELEMENT nap (#PCDATA)>
	<!ELEMENT tol (#PCDATA)>
	<!ELEMENT ig (#PCDATA)>
<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>
]>